attrs==21.2.0
beautifulsoup4==4.12.2
brotli==1.0.9
ConfigParser==6.0.0
cryptography==3.4.8
Cython==3.0.0
dateparser==1.1.8
dl==0.1.0
docutils==0.20.1
gspread==5.10.0
gspread_dataframe==3.3.1
HTMLParser==0.0.2
importlib_metadata==4.6.4
ipython==8.14.0
ipywidgets==8.0.7
Jinja2==3.0.3
pyjnius
keyring==23.5.0
lockfile==0.12.2
lxml==4.9.3
numpy==1.25.1
ordereddict==1.1
pandas==2.0.3
Pillow==10.0.0
protobuf==4.23.4
pyOpenSSL
railroad==0.5.0
requests
Sphinx==7.1.0
toml==0.10.2
tornado==6.3.2
zipp==1.0.0
